<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="software, developer, veteran, Steven Owens, navy, US Navy, military, engineer">
    <title>The Ozone</title>
    <!-- Bootstrapcdn -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="container">
    <!-- closing div is located on footer partial -->

    <!-- navbar -->
  <nav class="navbar navbar-default transparent navbar-static-top navbar-expand-lg" role="navigation" id="navbar-main">

      <div class="navbar-brand mr-auto"><img src="/images/R4R.png" alt="" /><span>THE OZONE / STEVEN OWENS</span></div>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></i></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- items aligned right in navbar -->
        <ul class="navbar-nav ml-auto text-right">

          <!-- home -->
          <li class="nav-item">
          <li class="nav-item">
            <a target="_self" class="nav-link"
              href="/index">Home<span
                class="sr-only">(current)</span></a>
          </li>

          <!-- projects -->
          <li class="nav-item">
            <a target="_blank" class="nav-link"
              href="/projects">Projects<span
                class="sr-only">(current)</span></a>
          </li>

          <!-- about -->
          <li class="nav-item">
            <a target="_self" class="nav-link"
              href="/about">About</a>
          </li>

          <!-- contact -->
          <li class="nav-item">
            <a target="_self" class="nav-link"
              href="/contact">Contact</a>
          </li>
       
          <!-- quick links -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Quick Links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="mailto:sd.owens@outlook.com">sdowens@outlook.com</a>
              <a class="dropdown-item" href="tel:+13609089855">(360) 908-9855</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://www.linkedin.com/in/sd-owens/">LinkedIn</a>
              <a class="dropdown-item" href="https://github.com/sd-owens">GitHub</a>
            </div>
          </li>
        </ul>

        <!-- search bar not yet required -->
        <!-- <form class="form-inline my-2 my-lg-0">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
     
    </div>

  </nav>

    