<!-- Implemented custom error page based on examples form ExpressJS GitHub
Repo https://github.com/expressjs/express/tree/master/examples/error-pages -->

<%- include ('./partials/error_header'); %>
<h2>HTTP 404: Cannot find <%= url %></h2>
<%- include ('./partials/error_footer'); %>