<%- include('./partials/header.ejs') %> 

<h1>About Me</h1>

    <p> 
    I am a software engineer studying Computer Science at Oregon State University. I hold a previous bachelor’s degree in business and over 10 years of progressive experience as a program manager in one of the most technically demanding fields in the U.S. Armed Forces, the Navy’s Nuclear Propulsion program.

    </p>
    <p>
    Throughout my military service, I have been a part of a program with a culture of continuous learning, exacting standards, and innovative solutions to highly technical problems.  I have led numerous highly-effective, cross-functional teams of subject matter experts to collaborate and achieve organizational goals and objectives.
    </p>
    
    <p>
    This culture of team collaboration and continuous learning is what drives my desire to pursue a career in technology after the Navy.  Software development is a constantly evolving field that requires the same principles of constant learning, devotion and the cultural mindset that I have lived throughout my military service. I have an active SECRET clearance and I am available for employment in September 2020.
    </p>

<%- include('./partials/footer.ejs') %> 