<%- include('./partials/header.ejs') %> 

<div class="row">

    <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
            <img src="/images/Row4Reveille.png" class="card-img-top" alt="...">
            <div id="scrollbox" class="card-body">
              <p class="card-text">I am a software engineer studying Computer Science at Oregon State University. I hold a previous bachelor’s degree in business and over 10 years of progressive experience as a program manager in one of the most technically demanding fields in the U.S. Armed Forces, the Navy’s Nuclear Propulsion program.</p>
            </div>
          </div>
    </div>
    <div class="col-lg-9 order-first order-lg-last">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
              <h5 class="card-title">Contact Information</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>


</div>

<%- include('./partials/footer.ejs') %> 