<%- include('./partials/header.ejs') %>

<!-- weather widget script -->
<script defer language="JavaScript" src="/javascript/weather.js"></script>

<div class="text-center my-3">
  <h3>Contact Me</h3>
</div>

<div class="row mt-4">

    <div class="col-lg-6">
        <div class="card" style="width: 28rem;">
            <img src="/images/profile.jpg" class="card-img-top" alt="profile picture">
            <div class="card-body">
              <p class="card-text">I am a software engineer studying Computer Science at Oregon State University. I hold a previous bachelor’s degree in business and over 10 years of progressive experience as a program manager in one of the most technically demanding fields in the U.S. Armed Forces, the Navy’s Nuclear Propulsion program.</p>
            </div>
            <div class="container text-center mb-3">
              <a class="btn btn-primary" href="https://www.linkedin.com/in/sd-owens/">LinkedIn</a>
              <a class="btn btn-dark" href="https://github.com/sd-owens">GitHub</a>
            </div>
          </div>
          

    </div>
    <div class="col-lg-6 order-first order-lg-last">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title text-center">Contact Request</h5>
           
              <form class="contact-form" target="_blank" action="http://flip2.engr.oregonstate.edu:24335">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" placeholder="John Smith" required>
                    <label for="email">Email Address</label>
                    <input type="email" name="email" placeholder="johnsmith123@aol.com" required>
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" placeholder="206-867-5309">
                    <label for="message">Your Message</label>
                    <textarea style="display: block; width: 100%; margin-bottom: 10px;" class="input" rows="4" name="message" placeholder="A short message." required></textarea>
                    <input class="btn btn-primary" type="submit">
                    <p class="text-center">(Ensure you are logged into the OSU VPN)</p>
              </form>
            </div>
          </div>
          <div id="weatherWidget" class="text-center">
            <h3 class="mb-3"><span id="status">&nbsp;</span><span id="temp">&nbsp;</span><span id="condition"></span><span id="city">&nbsp;</span></h3>
            <button id="showWeather" class="btn btn-success ">Get Local Weather</button>
          </div>
          
    </div>

</div>

<%- include('./partials/footer.ejs') %> 