<%- include('./partials/header.ejs') %> 

<div class="row">

    <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
            <img src="/images/profile.jpg" class="card-img-top" alt="Profile picutre of Steven Owens">
            <div id="scrollbox" class="card-body">
              <p class="card-text">I am a software engineer studying Computer Science at Oregon State University. I hold a previous bachelor’s degree in business and over 10 years of progressive experience as a program manager in one of the most technically demanding fields in the U.S. Armed Forces, the Navy’s Nuclear Propulsion program.</p>
            </div>
          </div>
          <a class="nav-link" href="https://www.linkedin.com/in/sd-owens/">LinkedIn</a>
          <a class="nav-link" href="https://github.com/sd-owens">GitHub</a>

    </div>
    <div class="col-lg-9 order-first order-lg-last">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
              <h5 class="card-title text-center">Contact Me</h5>
           
              <form class="contact-form" action="">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" placeholder="John Smith" required>
                    <label for="email">Email Address</label>
                    <input type="email" name="email" placeholder="johnsmith123@aol.com"r equired>
                    <label for="phone">Phone Number</label>
                    <input type="tel" name="phone" placeholder="206-867-5309" required>
                    <label for="message">Your Message</label>
                    <textarea style="display: block; width: 100%; margin-bottom: 10px;" class="input" rows="4" name="message" placeholder="A short message." required></textarea>
                    <input class="btn btn-primary" type="submit">

              </form>
        
            </div>
          </div>
    </div>


</div>

<%- include('./partials/footer.ejs') %> 