<%- include('./partials/header.ejs') %> 


    <!-- Bootstrap 4 Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/r4r_carousel.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Row For Reveille</h5> -->
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/SoulExchange_carousel.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Worms!</h5>
            <p>Written in Java SE7 / Swing</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/WormGame_carousel.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/Breakout_carousel.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/GameOfLife_carousel.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Fifth slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="mt-4">
      <h4>About Me</h4>

          <p> 
          I am a software engineer studying Computer Science at Oregon State University. I hold a previous bachelor’s degree in business and over 10 years of progressive experience as a program manager in one of the most technically demanding fields in the U.S. Armed Forces, the Navy’s Nuclear Propulsion program.

          </p>
          <p>
          Throughout my military service, I have been a part of a program with a culture of continuous learning, exacting standards, and innovative solutions to highly technical problems.  I have led numerous highly-effective, cross-functional teams of subject matter experts to collaborate and achieve organizational goals and objectives.
          </p>

          <p>
          This culture of team collaboration and continuous learning is what drives my desire to pursue a career in technology after the Navy.  Software development is a constantly evolving field that requires the same principles of constant learning, devotion and the cultural mindset that I have lived throughout my military service. I have an active SECRET clearance and I am available for employment in September 2020.
          </p>
    </div>




  <!-- About Me Splash -->

  

<%- include('./partials/footer.ejs') %> 