<%- include('./partials/header.ejs') %> 

    <!-- embedded countdown timer script -->
    <script defer language="JavaScript" src="/javascript/countdown.js"></script>

    <div class="text-center">
      <h3>Welcome to my Porfolio Site</h3>
    </div>

    <!-- Bootstrap 4 Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide my-3" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/projects"><img src="images/r4r_carousel.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/projects"><img src="images/SoulExchange_carousel.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/projects"><img src="images/Trapped_carousel.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/projects"><img src="images/Breakout_carousel.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/projects"><img src="images/WormGame_carousel.png" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/projects"><img src="images/GameOfLife_carousel.png" class="d-block w-100" alt="..."></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container text-center mb-3">
        <h4>Available for Post Military Employment</h4>
        <h4>September 1<sup>st</sup>, 2020</h4>
        <h6 id="countdown">&nbsp</h6>
    </div>

    <!-- About Me Splash -->
    <div class="my-3">
      <h4>About Me</h4>

          <p> 
          I am a software engineer studying Computer Science at Oregon State University. I hold a previous bachelor’s degree in business and over 10 years of progressive experience as a program manager in one of the most technically demanding fields in the U.S. Armed Forces, the Navy’s Nuclear Propulsion program.

          </p>
          <p>
          Throughout my military service, I have been a part of a program with a culture of continuous learning, exacting standards, and innovative solutions to highly technical problems.  I have led numerous highly-effective, cross-functional teams of subject matter experts to collaborate and achieve organizational goals and objectives.
          </p>

          <p>
          This culture of team collaboration and continuous learning is what drives my desire to pursue a career in technology after the Navy.  Software development is a constantly evolving field that requires the same principles of constant learning, devotion and the cultural mindset that I have lived throughout my military service. I have an active SECRET clearance and I am available for employment in September 2020.
          </p>
    </div>


  

  

<%- include('./partials/footer.ejs') %> 