<%- include('./partials/header.ejs') %> 


<h1 class="text-center">Projects</h1>

<div class="row text-center">

    <!-- card1 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/r4r_thumb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Row For Reveille</h5>
            <p id="scrollbox" class="card-text">
                Designed and implemented a mobile-first dynamic website in support of charity fundraiser for Project Reveille. Utilized NodeJS and Express as back-end framework. Deployed via Heroku.</p>
            </div>
            <div class="card-body">
            <a target="_blank" href="https://github.com/sd-owens/Row4Reveille" class="card-link">GitHub</a>
            <a href="#" class="card-link">Website</a>
            </div>
        </div>
    </div>
    <!-- card2 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/SoulExchange_thumb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Auction Website</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!-- card3 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/Row4Reveille.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

</div>

<div class="row text-center">
    <!-- card4 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/BreakOut_thumb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Break Out!</h5>
            <p id="scrollbox" class="card-text">The classic arcade game Break Out recreated for personal play on modern computers. Written in Java SE7 and Swing.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!-- card5 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/WormGame_thumb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Worms!</h5>
            <p id="scrollbox" class="card-text">
                A worm or snake constantly moves around the board. The player controls the direction the "head" of the worm moves, and the worm must try to eat apples that randomly appear. Eating an apply causes the worm to grow in length. The game ends if the worm crashes into the edge of the board or into itself.</p>
            </div>
            <div class="card-body">
            <a target="_blank" href="https://github.com/sd-owens/Worms" class="card-link">GitHub</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
    </div>
    <!-- card6 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/GameOfLife_thumb.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Conway's Game of Life</h5>
            <p id="scrollbox" class="card-text">
                The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970. The game is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves, or, for advanced players, by creating patterns with particular properties.</p>
            </div>
            <div class="card-body">
            <a target="_blank" href="https://github.com/sd-owens/GameOfLife" class="card-link">GitHub</a>
            <!-- <a href="#" class="card-link"></a> -->
            </div>
        </div>
    </div>
</div>





<%- include('./partials/footer.ejs') %> 