<%- include('./partials/header.ejs') %> 


<h1 class="text-center">Projects</h1>

<div class="row text-center">

    <!-- card1 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/Row4Reveille.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!-- card2 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/Row4Reveille.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!-- card3 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/Row4Reveille.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

</div>

<div class="row text-center">
    <!-- card1 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/Row4Reveille.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!-- card2 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/Row4Reveille.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <!-- card3 -->
    <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="images/Row4Reveille.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>





<%- include('./partials/footer.ejs') %> 