body {
    min-height: 100vh;
}

.carousel {
   margin: 0 auto;
}
    
.carousel-inner > .item {
height:400px;
object-fit: contain;

}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.contact-form input {
    width: 100%;
    clear: both;
    margin-bottom: 10px;;
}

.get-form input {
    width: 100%;
    clear: both;
    margin-bottom: 10px;;
}

#weatherWidget {
    margin: 40px;
}

#scrollbox {
    height: 6em;
    overflow-y: scroll;
    padding-right: 1em;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
    
::-webkit-scrollbar-track {
    border: 1px solid #292b2c;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: #292b2c;  
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #292b2c;  
}


