body {
    min-height: 100vh;
  
}

/* .carousel {

    height:360px;
    
} */

.carousel {
    width: 75%;
   margin: 0 auto;
}
    
.carousel-inner > .item {

height:400px;

object-fit: contain;

}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#scrollbox {
    height: 6em;
    text-align: left;
    overflow-y: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid blue;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: blue;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: blue;  
    }

.contact-form input {
    width: 100%;
    clear: both;
    margin-bottom: 10px;;
}
